.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.users-list {
  border: 1px solid white;
  margin: 0 10px 0 10px;
}

p {
  margin: 0 10px 0 10px;
  display: inline;
}

.user-lits__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}