.main-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-form {
  display: flex;
  flex-direction: column;
  border: 2px solid #ccc;
  padding: 20px;
}

input {
  margin-top: 20px;
}

.main-from__buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.users-list {
  border: 1px solid white;
  margin: 0 10px 0 10px;
}

p {
  margin: 0 10px 0 10px;
  display: inline;
}

.user-lits__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}